.container{
    width: 100%;
    max-width: 100%;
    position: fixed;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    z-index: 1000;
}

.brgMenuContainer{
    display: flex;
}

.brgMenu{
    display: flex;
    
}

.logoContainer{
    display: flex;
    font-size: 9px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}


.searchContainer {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 1400px;
    display: flex;
    align-items: center;
    border-radius: 5px; /* Set a smaller, consistent value */
    background-color: azure;
    border: 2px solid #E8E8E8; /* Keep the dark gray border */
}

.dropdownContainer{
    height: 100%;
    width: 130px;
    position: relative;
    border-color: #E8E8E8
}

.selectButton{
    position: absolute;
    display: flex;
    width:100%;
    height: 100%;
    opacity: 0;
}

.selectLabel{
    width:100%;
    height: 100%;
    color: rgb(114, 114, 114);
    border: 2px solid #E8E8E8;
    border-radius: 3px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    pointer-events: none;
    background: #e8e8e8;
    border: 0;
    box-shadow: none;
}

.dropdownIconContainer{
    position: absolute;
    pointer-events: none;
    display: flex;
    width:90%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.userContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInputContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(216, 182, 216);
}

.searchInput{
    padding-left: 10px;
    height: 100%;
    width: 100%;
    color: black;
    border: none; /* Remove default border */
    outline: none; /* Remove black focus outline */
    font-size: 15px;
}

.searchInput::placeholder {
    color: gray; /* Placeholder text color */
    opacity: 1;  /* Ensure it's fully visible in all browsers */
  }



.searchBtnContainer{
    height: 100%;
    width: 54px;
    border-radius: 3px;
    background-color: #e87714;
    border: 1px solid #e87714;
    display: flex;
    justify-content: center;
    align-items: center;
}